@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    box-sizing: border-box;
    list-style: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
.header{
    position:relative;
    top:0 ;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 20px 100px;
    z-index: 100;
}
.header .menu ul li{
    color: aqua;
    display: flex;
    font-size: 20px;
    justify-content: center;
    align-content: center;
}
.header .logo img {
    max-width: 150px;
    top: 0;
}
.navigation{
    display: flex;
    padding-top: 20px;
}
.navigation li{
    margin: 0 10px;
}
.navigation li a{
    color:black;
    font-size: 17px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}
.navigation li:hover a{
    color: #de0611;
}
.search{
    position: relative;
    width: 300px;
    height: 40px;
    top: 10px;
}
.search input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background: transparent;
    border: 1px solid rgb(14, 13, 13);
    outline: none;
    border-radius:4px;
    padding: 0 20px 0 45px;
}
.search input::placeholder{
    color: black;
}
.search .fa-search{
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    padding-right: 10px;
    color: black;
    border-right: 1px solid black;
}
.Icon{
    display: flex;
    padding-top: 20px;
}
.Icon li{
    margin: 0 20px;
}
.Icon li a{
    color:black;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 1px;
}
.Icon li:hover a{
    color: #de0611;
}
.banner {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.banner .bg{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    position: absolute;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content h2{
    padding: 10px;
    color: #c6585d;
    font-size: 25px;
}
.content h1{
    padding: 10px;
    font-size:80px;
}
.content a{
    padding: 20px;
    border: 1px solid #ee2d7a;
    border-radius: 25px;
    background: #ee2d7a;
    color: white;
    font-size: 25px;
}

.content a:hover{
    background: #e9d388;
    color: #474545;
    border: 1px solid #474545;
}
.banner-1{
    position: relative;
}
.banner-1 .content-banner1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}
.banner-1 .content-banner1 p{
    color: #be45b9;
    font-size: 20px;
    padding: 10px;
}
.banner-1 .content-banner1 h3{
    font-size: 30px;
}
.img-banner1 {
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.column-item{
    flex: 1;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
.img-banner1 .img1{
    background-color: #de0611;
    flex: 1;
    border-radius: 25%;

}
.img-banner1 .img2{
    flex: 1;
    background-color: #703538;
}.img-banner1 .img3{
     flex: 1;
     background-color: #b7d01a;
 }

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 100vh;
    margin: 10px 0;
    background-color: #e2dddd;
}
.container .card{
    position: relative;
    display: flex;
    width: 300px;
    height: 400px;
    margin: 20px;
    overflow: hidden;
    object-fit: scale-down;
    box-shadow: 0 5px 15px rgb(50, 48, 48);
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.container .card .content{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(0,0,0,0.1);
    border: 1px solid rgba(255,255,255,0.2);
    transition: bottom 0.5s;
}
.container .card:hover .content
{
    bottom: 0;
}
.container .card .content .contentBx h3{
    color: #ab4ba5;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
    transition-delay: 0.6s;
}
.container .card:hover .content .contentBx h3{
    opacity: 1;
    transform: translateY(0px);
}
.container .card .content .contentBx h3 span{
    font-size: 12px;
    font-weight: 300;
    text-transform: inherit;
}
.container-1{
    background-image:url("IMG/background.jpg");
    display: flex;
    margin: 10px 0;
}
.container-1 .card-1{
    display: flex;
    position: relative;
    width: 100%;
}
.container-1 .card-1 .imgBx-1{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
}
.container-1 .card-1 .content-1{
    position: relative;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container-1 .card-1 .content-1 p{
    font-size: 30px;
    color: #474545;
}
.container-1 .card-1 .content-1 h3{
    font-size: 60px;
}
.container-1 .card-1 .content-1 h3 span{
    color: #de0611;
}
.container-1 .card-1 .content-1 a{
    color: #de0611;
    border: 1px solid #de0611;
    padding: 25px 40px;
    border-radius: 40px;
    background-color: #e08d99;
    font-size: 20px;
}
.container-1 .card-1 .content-1 a:hover {
    background-color: yellow;
    color: #474545;
    border: 1px solid #474545;
}
.container-2{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container-2 .card-21 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row-reverse;
    margin: 30px;
}
.container-2 .card-2 .imgBx-21{
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.container-2 .card-2 .test{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.container-2 .card-2 .test p{
    font-size: 25px;
    color:#ee2d7a;
}
.container-2 .card-2 .test h2{
    font-size: 40px;
}
.container-2 .card-2 .test span{
    text-align: center;
    font-size: 20px;
    margin: 20px;
}
.container-2 .card-2 .test a{
    font-size: 25px;
    color:#ee2d7a;
}
.container-2 .card-22 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.container-2 .card-23 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: row-reverse;
}
.element-inner{
    background-color: #d2cfd6;
    min-height: 80vh;
}
.element-inner .element-inner-img{
    display: flex;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.element-inner .element-inner-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 250px 30px 250px;

}
.element-inner .element-inner-content p{
    color: #ee2d7a;
    font-size: 25px;
    margin: 10px;
}
.element-inner .element-inner-content h1 {
    font-size: 40px;
    margin: 15px;
}
.element-inner .element-inner-content h1>span{
    color:#ee2d7a ;
}
.element-inner .element-inner-content>span{
    font-size: 25px;
    text-align: center;
    margin-bottom: 10px;
}
.element-inner .element-inner-content a{
    border: 1px solid #ee2d7a;
    border-radius:50px;
    color: #ee2d7a;
    font-size: 20px;
    padding: 20px;
}
.element-inner .element-inner-content a:hover{
    background-color: #ee2d7a;
    color: white;
}
.elementor-widget-container{
    position: relative;
    justify-content: center;
    display: flex;
    align-content: center;
    text-align: center;
    margin: 10px 10px;
}
.elementor-widget-container img{
    height: 150px;
    width: 200px;
    object-fit: cover;
    border-radius: 100px;
}
.elementor-widget-container>p{
    position: absolute;
    font-size: 25px;
    display: flex;
    color: #ee2d7a;
    top: 20px;
}
.elementor-widget-container h1{
    position: absolute;
    top: 80px;
    font-size: 40px;
}

.productContainer{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 100%;
    min-height: 100vh;
    /*background-color: #ff8178;*/

    font-family: 'Poppins', sans-serif;
}
.productContainer .productContainer-card{
    position: relative;
    margin: 15px;
    height: 320px;
    width: 320px;
    overflow: hidden;
    object-fit: cover;
    border: 1px solid #ff8178;
}
.productContainer .productContainer-card .productContainer-card-img,
.productContainer .productContainer-card .productContainer-card-content
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.productContainer .productContainer-card .productContainer-card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.productContainer .productContainer-card .productContainer-card-contentBx::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: scaleX(0);
    transition: transform 0.5s ease-in-out;
    transform-origin: right;
    transition-delay: 0.5s;
}
.productContainer .productContainer-card:hover .productContainer-card-contentBx::before {
    transform: scaleX(1);
    transition: transform 0.5s ease-in-out;
    transform-origin: left;
    transition-delay: 0s;
}
.productContainer .productContainer-card .productContainer-card-contentBx {
    display: flex;
    align-items: center;
    justify-content:center;
}
.productContainer .productContainer-card .productContainer-card-contentBx .productContainer-card-content{
    position: relative;
    padding: 30px;
    z-index: 1;
    transition: 0.5s;
    transform: translateX(-300px);
    transition-delay: 0s;
}
.productContainer .productContainer-card:hover .productContainer-card-contentBx .productContainer-card-content {
    transform: translateX(0px);
    transition-delay: 0.5s;
}
.productContainer .productContainer-card .productContainer-card-contentBx .productContainer-card-content h3 {
    font-size: 1.3em;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.productContainer .productContainer-card .productContainer-card-contentBx .productContainer-card-content p {
    font-size: 1em ;
    line-height: 1.4em;
    font-weight: 300;
}
.elementor-container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.elementor-container .elementor-row{
    position: relative;
    display: flex;
    overflow: hidden;
    justify-content: space-between;
}
.elementor-container .elementor-row .elementor-row-img{
    position: relative;
    object-fit: cover;
    height: 500px;
    width: 100%;

}
.elementor-container .elementor-row .elementor-row-content{
    position: absolute;
    min-width: 300px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-content: center;
    justify-content: center;
    top: 100px;
    left: 100px;
}
.elementor-container .elementor-row .elementor-row-content p{
    color: #ee2d7a;
    font-size: 20px;
    margin-bottom: 20px;
}
.elementor-container .elementor-row .elementor-row-content h1{
    font-size: 60px;
    margin-bottom: 20px;
}
.elementor-container .elementor-row .elementor-row-content span{
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}
.elementor-container .elementor-row .elementor-row-content a{
    color: #ee2d7a;
    border: 1px solid #ee2d7a;
    padding: 20px;
    width: 200px;
    border-radius: 50px;
    font-size: 20px;
}
.elementor-container .elementor-row .elementor-row-content a:hover{
    background-color: #ee2d7a;
    color: white;
    transition-delay: 0.2s;
}
.center{
    background-image: url("IMG/backgroundAboutMe.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    width: 100%;
    background-color: rgba(0,0,0,0.7);
    height: 65vh;
    text-align: center;
    border-radius: 5px;
}
.center .avatar img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-top: 5%;
    object-fit: cover;
    /*object-position: 0 -8px;*/
}
.center .center-content{
    padding: 20px;
}
.center .center-content h1{
    color: #a45d4d;
}
.center .center-content>h2{
    font-weight: lighter;
    letter-spacing: 1px;
    width: 70%;
    margin: 10px auto   ;
}
.center .center-content>p{
    font-weight: lighter;
    letter-spacing: 1px;
    width: 70%;
    margin: 10px auto ;
    font-size: 20px;
}
.center .social>a{
    font-size: 30px;
    letter-spacing: 10px;
    color: #ee2d7a;
}
.center .social>a:hover{
    color: white;
}
footer{
    font-family: 'Poppins', sans-serif;
    color: #d9d9d9;

    bottom: 0;
    width: 100%;
    background-color: #111;
}
.main-content{
    display: flex;
}
.main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
    font-weight:600;
    text-transform: uppercase;
}
.box.footer-content{
    margin-top: 20px;
}
.box.footer-content p{
    text-align: justify;
}
.left .footer-content .footer-social{
    margin-top: 20px;
}
.left .footer-content .footer-social a{
    padding: 0 2px;
}
.left .footer-content .footer-social a span{
    height: 100px;
    width: 100px;
    background-color: #1a1a1a;
    line-height: 60px;
    text-align: center;
    font-size: 25px;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
    transition: 0.3s;
    color: white;
}
.left .footer-content .footer-social a span:hover{
    background-color: #ee2d7a;
}
